{% extends 'manager/base.html' %}

{% load static %}

{% block content %}
    <div class="text-center">
        <!-- Property picture -->
        <img src="{% static 'property_image.jpg' %}" alt="Property Image">
    </div>

    <h1 class="text-center">Management Home</h1>
    <p class="text-center">We have the following properties and rooms:</p>
    <ul class="text-center">
        <li><strong>Properties:</strong> {{ num_properties }}</li>
        <li><strong>Rooms:</strong> {{ num_rooms }}</li>
    </ul>
{% endblock %}
