# Files to ignore when pushing a PyCharm Django project to github:
#files only needed by a PyCharm project and local-only django files
.idea/
local_settings.py

#the virtual environment name - use the name of your virtual environment
#if different from venv
venv

### Django ###
*.log
*.pot
*.pyc
/__pycache__/
local_settings.py
media
# Ignore Django Migrations in Development if you are working on team
# Only for Development only
**/migrations/**
!**/migrations/__init__.py
